{% load static %}
<section class="section" id="about-us">
  <div  data-aos="fade-up" class="masking-container card-about">
    <h1 class="masked-text mb-4">Sobre nosotros</h1>
  </div>

  <div class="row align-items-center" >

    <div class="col-md-6 col-12 mb-4 mb-md-0 card-about" data-aos="fade-left">
      <p class="card-text text-white">
        Bosque Seta nace con la misión de conectar a los amantes de los hongos comestibles con productores locales de hongos seta en toda la región. Nuestra plataforma facilita la búsqueda, el contacto y la promoción de pequeños y medianos cultivadores que trabajan con técnicas sostenibles y productos de alta calidad.

        <br><br>
        Creemos en el poder de lo natural, en el valor de consumir local y en la importancia de fortalecer una comunidad que apoya el cultivo consciente. Ya seas productor, comprador o simplemente curioso, aquí encontrarás un espacio dedicado al conocimiento, la trazabilidad y el sabor.

        <br><br>
        Únete a esta red de productores comprometidos con el medio ambiente, el bienestar alimentario y la innovación agrícola. ¡Explora, conecta y descubre el mundo de los hongos seta!
      </p>
    </div>

    <div class="col-md-6 col-12 d-flex justify-content-center" data-aos="fade-right">
      <img src="{% static 'img/hongos-about.jpg' %}" alt="Hongos seta" class="img-about">
    </div>
  </div>
</section>
