{% load static %}

<section class="hero-bosque shadow-dance-container" id="hero-section">
  <div class="hero-text" data-aos="fade-down">
    <h1 class="arriba shadow-dance-text"> BOSQUE </h1>
    <img src="{% static 'img/bosque_seta.png' %}" alt="Logo bosque seta" class="logo-img-hero">
    <h1 class="abajo shadow-dance-text"> SETA </h1>
    <div class="scroll-down-indicator">
      <svg class="arrow-svg left-arrow" viewBox="0 0 24 24">
        <path d="M12 16L6 10h12l-6 6z" fill="#ffffff"/>
      </svg>
      <a class ="scroll-ref" href="#about-us"> <p class="scroll-text">Da click para deslizar</p> </a>
      <svg class="arrow-svg right-arrow" viewBox="0 0 24 24">
        <path d="M12 16L6 10h12l-6 6z" fill="#ffffff"/>
      </svg>
  </div>


</section>
