{% load static %}
<section id="recetario" class="py-5 section" >
  <div class="container" id="recipe">
    <h2 class="text-center mb-4 section-title" data-aos="fade-right" >Recetario</h2>
    <p class="lead text-center mb-5" data-aos="fade-left">Disfruta de diversas recetas con base en hongos seta en nuestro catálogo</p>
    <div class="row g-4">

      <div class="col-md-6 col-lg-4" data-aos="zoom-in">
        <div class="card h-100 bg-opacity-75 border-0 shadow">
          <a href="https://es.tastemade.com/programas/tacos-con-todo/tacos-sin-carne/tacos-de-hongo-al-ajillo/"><img src="{% static 'img/recetas/tacos.jpg' %}" class="card-img-top receta-img" alt="Tacos de hongos al ajillo"></a>
          <div class="card-body">
            <h5 class="card-title">Tacos de hongos al ajillo</h5>
            <p class="card-text">Hongos salteados con ajo, chile y limón, sabor intenso y jugoso.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="zoom-in">
        <div class="card h-100 bg-opacity-75 border-0 shadow">
          <a href="https://www.recetasnestle.com.mx/recetas/comidas-ceviche-setas"><img src="{% static 'img/recetas/ceviche.jpg' %}" class="card-img-top receta-img" alt="Ceviche de hongos seta"></a>
          <div class="card-body">
            <h5 class="card-title">Ceviche de hongos seta</h5>
            <p class="card-text">Fresco, ácido y sabroso; ideal como entrada ligera y saludable.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="zoom-in">
        <div class="card h-100 bg-opacity-75 border-0 shadow">
          <a href="https://www.kiwilimon.com/receta/sopas/crema-de-setas-con-almendras"><img src="{% static 'img/recetas/crema.jpg' %}" class="card-img-top receta-img" alt="Crema de hongos con almendras"></a>
          <div class="card-body">
            <h5 class="card-title">Crema de hongos con almendras</h5>
            <p class="card-text">Textura suave y cremosa, perfecta para días frescos y reconfortantes.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="zoom-in">
        <div class="card h-100 bg-opacity-75 border-0 shadow">
         <a href="https://gastroamantes.com/hamburguesas-de-setas/"> <img src="{% static 'img/recetas/hamburguesa.jpg' %}" class="card-img-top receta-img" alt="Hamburguesas de hongos seta"></a>
          <div class="card-body">
            <h5 class="card-title">Hamburguesas de hongos seta</h5>
            <p class="card-text">Alternativa vegetariana deliciosa, jugosa, rica en proteínas y muy versátil.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="zoom-in">
        <div class="card h-100 bg-opacity-75 border-0 shadow">
          <a href="https://www.pizcadesabor.com/fajitas-de-pimiento-morron-vegetarianas"><img src="{% static 'img/recetas/fajitas.jpg' %}" class="card-img-top receta-img" alt="Fajitas de hongos con pimientos"></a>
          <div class="card-body">
            <h5 class="card-title">Fajitas de hongos con pimientos</h5>
            <p class="card-text">Coloridas, rápidas de preparar, llenas de sabor y buena energía.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4" data-aos="zoom-in">
        <div class="card h-100 bg-opacity-75 border-0 shadow">
          <a href="https://www.cocinavital.mx/recetas/recetas-de/milanesas-setas-empanizadas-/2023/04/"><img src="{% static 'img/recetas/milanesa.jpg' %}" class="card-img-top receta-img" alt="Hongos empanizados estilo milanesa"></a>
          <div class="card-body">
            <h5 class="card-title">Hongos empanizados estilo milanesa</h5>
            <p class="card-text">Crujientes por fuera, suaves por dentro; excelente platillo principal vegetal.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
